<div class="landing-background">
  <div class="landing-head">
    <div class="landing-logo">
      <img src="https://i.ibb.co/64bYBNS/Logo-Updated-2.png" alt="KommUnity's logo">
    </div>
    <div class="landing-title">
      <h1>KommUnity</h1>
    </div>
    <div class="landing-sub-title">
       <h2>Welcome</h2>
    </div>
  </div>
  <div class="log-in-form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="log-in-form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
