<!DOCTYPE html>
<html>
  <head>
    <title>KommUnity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">


  <!-- Facebook Open Graph data -->
    <meta property="og:title" content="KommUnity">
    <meta property="og:site_name" content="KommUnity">
    <meta property="og:url" content="www.kommunity-berlin.de">
    <meta property="og:description" content="Kommunity - a route to social commitment">
    <meta property="og:type" content="profile">
    <meta property="og:image" content="https://res.cloudinary.com/deftool/image/upload/c_scale,h_630,q_auto,w_1200/v1638285913/development/Bildschirmfoto_2021-11-30_um_16.20.32_apovql.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="kommunity-berlin.de">
    <meta property="twitter:url" content="http://www.kommunity-berlin.de/">
    <meta name="twitter:title" content="Kommunity - a route to social commitment">
    <meta name="twitter:description" content="a route to social commitment">
    <meta name="twitter:image" content="https://res.cloudinary.com/deftool/image/upload/c_scale,h_630,q_auto,w_1200/v1638285913/development/Bildschirmfoto_2021-11-30_um_16.20.32_apovql.png">

    <!-- Progressive Web App -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
